/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

.spacer {
  margin-top: 40px;
}

.pointer{
  cursor: pointer;
}
.link-spacer {
  margin: 10px;
}
