<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

  <div class="modal-header">
    <h4 class="modal-title" id="myCoursLabel">Create or edit a Contact</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="activeModal.dismiss('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <div *ngIf="person.id">
      <b>Update details of : {{person.lastName}} {{person.firstName}} </b>
    </div>
    <div *ngIf="!sucess">
        {{message}}
    </div>
    <div class="form-group" *ngIf="person.id">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" name="id" [(ngModel)]="person.id" readonly />
    </div>
    <div class="form-group">
      <label class="form-control-label" for="fn">FirstName</label>
      <input type="text" class="form-control" name="descrip" id="fn" [(ngModel)]="person.firstName"
             required/>
      <div [hidden]="!(editForm.controls.fn?.dirty && editForm.controls.fn?.invalid)">
        <small class="form-text text-danger"
               [hidden]="!editForm.controls.fn?.errors?.required">
          This field is required.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="lastName">LastName</label>
      <input type="text" class="form-control" name="descrip" id="lastName" [(ngModel)]="person.lastName"
             required/>
      <div [hidden]="!(editForm.controls.lastName?.dirty && editForm.controls.lastName?.invalid)">
        <small class="form-text text-danger"
               [hidden]="!editForm.controls.lastName?.errors?.required">
          This field is required.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="adresse">Adresse</label>
      <textarea class="form-control" name="descrip" id="adresse" [(ngModel)]="person.adresse"
                required> </textarea>
      <div [hidden]="!(editForm.controls.adresse?.dirty && editForm.controls.adresse?.invalid)">
        <small class="form-text text-danger"
               [hidden]="!editForm.controls.adresse?.errors?.required">
          This field is required.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="email">Email</label>
      <input type="text" class="form-control" name="descrip" id="email" [(ngModel)]="person.email"
             required/>
      <div [hidden]="!(editForm.controls.email?.dirty && editForm.controls.email?.invalid)">
        <small class="form-text text-danger"
               [hidden]="!editForm.controls.email?.errors?.required">
          This field is required.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="form-control-label" for="phone">Phone</label>
      <input type="text" class="form-control" name="descrip" id="phone" [(ngModel)]="person.phone"
             required/>
      <div [hidden]="!(editForm.controls.phone?.dirty && editForm.controls.phone?.invalid)">
        <small class="form-text text-danger"
               [hidden]="!editForm.controls.phone?.errors?.required">
          This field is required.
        </small>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="activeModal.close('Close click')">
      <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
      <span class="fa fa-save"></span>&nbsp;<span>Save</span>
    </button>
  </div>
</form>
