<div class="spacer">
  <h4> Contacts List</h4>
  <hr>
  <button class="btn btn-primary float-right" (click)="openDialogue(null)"><i class="fa fa-plus"></i> create</button>
  <br>
  <br>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>#</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of listOfPerson">
          <td>{{person.id}}</td>
          <td>{{person.firstName}}</td>
          <td>{{person.lastName}}</td>
          <td>{{person.email}}</td>
          <td>{{person.phone}}</td>
          <td>
            <a class="link-spacer pointer"><i class="fa fa-eye text-info"></i></a>
            <a (click)="openDialogue(person)" class="link-spacer pointer"><i class="fa fa-edit text-primary"></i></a>
            <a class="link-spacer pointer"><i class="fa fa-trash text-danger"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


